# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a dataset which contains information on World Cup matches. Let's use the Pandas commands learned in the previous lesson to learn more about our data!

## Objectives
You will be able to: 
- Use pandas methods and attributes to access information about a dataset 
- Index pandas dataframes with .loc, .iloc, and column names 
- Use a boolean mask to index pandas series and dataframes

## Load the data

Load the file `'WorldCupMatches.csv'` as a DataFrame in Pandas.

In [8]:
# Import pandas using the standard alias
import pandas as pd

# Import 'WorldCupMatches.csv' as a DataFrame
df = pd.read_csv('WorldCupMatches.csv')

## Common methods and attributes

Use the correct method to look at the first 7 rows of the dataset.

In [10]:
# Print the first 7 rows of df
df.head(7)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX
6,1930,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4,0,Bolivia,,18306.0,0,0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201,1092,YUG,BOL

Look at the last 3 rows of the data set.

In [11]:
# Print the last 3 rows of df
df.tail(3)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
849,2014,09 Jul 2014 - 17:00,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0,0,Argentina,Argentina win on penalties (2 - 4),63267.0,0,0,C�neyt �AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955,300186490,NED,ARG
850,2014,12 Jul 2014 - 17:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0,3,Netherlands,,68034.0,0,2,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957,300186502,BRA,NED
851,2014,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1,0,Argentina,Germany win after extra time,74738.0,0,0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959,300186501,GER,ARG

Get a concise summary of the data using `.info()`.

In [18]:
# Print a concise summary of df
df.info

<bound method DataFrame.info of      Year              Datetime                     Stage  \
0    1930  13 Jul 1930 - 15:00                    Group 1
1    1930  13 Jul 1930 - 15:00                    Group 4
2    1930  14 Jul 1930 - 12:45                    Group 2
3    1930  14 Jul 1930 - 14:50                    Group 3
4    1930  15 Jul 1930 - 16:00                    Group 1
..    ...                   ...                       ...
847  2014  05 Jul 2014 - 17:00             Quarter-finals
848  2014  08 Jul 2014 - 17:00                Semi-finals
849  2014  09 Jul 2014 - 17:00                Semi-finals
850  2014  12 Jul 2014 - 17:00   Play-off for third place
851  2014  13 Jul 2014 - 16:00                      Final

                 Stadium             City Home Team Name  Home Team Goals  \
0                Pocitos      Montevideo          France                4
1         Parque Central      Montevideo             USA                3
2         Parque Central      Montevideo      Yugoslavia                2
3                Pocitos      Montevideo         Romania                3
4         Parque Central      Montevideo       Argentina                1
..                   ...              ...            ...              ...
847     Arena Fonte Nova        Salvador     Netherlands                0
848     Estadio Mineirao  Belo Horizonte          Brazil                1
849   Arena de Sao Paulo       Sao Paulo     Netherlands                0
850     Estadio Nacional        Brasilia          Brazil                0
851  Estadio do Maracana  Rio De Janeiro         Germany                1

     Away Team Goals Away Team Name                         Win conditions  \
0                  1         Mexico
1                  0        Belgium
2                  1         Brazil
3                  1           Peru
4                  0         France
..               ...            ...                                    ...
847                0     Costa Rica  Netherlands win on penalties (4 - 3)
848                7        Germany
849                0      Argentina    Argentina win on penalties (2 - 4)
850                3    Netherlands
851                0      Argentina          Germany win after extra time

     Attendance  Half-time Home Goals  Half-time Away Goals  \
0        4444.0                     3                     0
1       18346.0                     2                     0
2       24059.0                     2                     0
3        2549.0                     1                     0
4       23409.0                     0                     0
..          ...                   ...                   ...
847     51179.0                     0                     0
848     58141.0                     0                     5
849     63267.0                     0                     0
850     68034.0                     0                     2
851     74738.0                     0                     0

                    Referee                  Assistant 1  \
0    LOMBARDI Domingo (URU)        CRISTOPHE Henry (BEL)
1         MACIAS Jose (ARG)     MATEUCCI Francisco (URU)
2       TEJADA Anibal (URU)      VALLARINO Ricardo (URU)
3     WARNKEN Alberto (CHI)          LANGENUS Jean (BEL)
4       REGO Gilberto (BRA)         SAUCEDO Ulises (BOL)
..                      ...                          ...
847   Ravshan IRMATOV (UZB)  RASULOV Abduxamidullo (UZB)
848   RODRIGUEZ Marco (MEX)      TORRENTERA Marvin (MEX)
849      C�neyt �AKIR (TUR)         DURAN Bahattin (TUR)
850   HAIMOUDI Djamel (ALG)         ACHIK Redouane (MAR)
851    Nicola RIZZOLI (ITA)        Renato FAVERANI (ITA)

                    Assistant 2  RoundID    MatchID Home Team Initials  \
0           REGO Gilberto (BRA)      201       1096                FRA
1         WARNKEN Alberto (CHI)      201       1090                USA
2           BALWAY Thomas (FRA)      201       1093                YUG
3      MATEUCCI Francisco (URU)      201       1098                ROU
4    RADULESCU Constantin (ROU)      201       1085                ARG
..                          ...      ...        ...                ...
847    KOCHKAROV Bakhadyr (KGZ)   255953  300186488                NED
848       QUINTERO Marcos (MEX)   255955  300186474                BRA
849           ONGUN Tarik (TUR)   255955  300186490                NED
850     ETCHIALI Abdelhak (ALG)   255957  300186502                BRA
851        Andrea STEFANI (ITA)   255959  300186501                GER

    Away Team Initials
0                  MEX
1                  BEL
2                  BRA
3                  PER
4                  FRA
..                 ...
847                CRC
848                GER
849                ARG
850                NED
851                ARG

[852 rows x 20 columns]>

Obtain a tuple representing the number of rows and number of columns

In [20]:
# Print the number of rows and columns in df
df.shape

(852, 20)

Use the appropriate attribute to get the column names

In [21]:
# Print the column names of df
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting DataFrame information

When looking at the DataFrame's `.head()`, you might have noticed that the games are structured chronologically in the DataFrame.

Use the right selection method to print all the information from the 3rd to the 5th game.

In [24]:
# Print rows 3 through 5
df.iloc[3:6]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX

Now, print all the info from game 5-9, but we're only interested in printing out the, "Home Team Name" and the, "Away Team Name."

In [32]:
# Print rows 5 through 9 and columns 'Home Team Name' and 'Away Team Name'
df.loc[5:9,['Home Team Name', 'Away Team Name']]

  Home Team Name Away Team Name
5          Chile         Mexico
6     Yugoslavia        Bolivia
7            USA       Paraguay
8        Uruguay           Peru
9          Chile         France

Next, we'd like the information on all the games played in Group 3 for the 1950 World Cup.

In [52]:
# Print all info for games played in 1950 for Group 3
df.loc[(df['Stage'] == "Group 3") & (df["Year"] == 1950)]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
56,1950,25 Jun 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Sweden,3,2,Italy,,36502.0,2,1,LUTZ Jean (SUI),BERANEK Alois (AUT),TEJADA Carlos (MEX),208,1219,SWE,ITA
61,1950,29 Jun 1950 - 15:30,Group 3,Durival de Brito,Curitiba,Sweden,2,2,Paraguay,,7903.0,2,1,MITCHELL Robert (SCO),LEMESIC Leo (YUG),GARCIA Prudencio (USA),208,1228,SWE,PAR
65,1950,02 Jul 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Italy,2,0,Paraguay,,25811.0,1,0,ELLIS Arthur (ENG),GARCIA Prudencio (USA),DE LA SALLE Charles (FRA),208,1218,ITA,PAR

Let's repeat the command above, but now we only want to print out the attendance column for the Group 3 games.

You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

In [56]:
# Print the 'Attendance' column for games played in 1950 for Group 3
df.loc[(df['Stage'] == "Group 3") & (df['Year'] == 1950), 'Attendance']

56    36502.0
61     7903.0
65    25811.0
Name: Attendance, dtype: float64

Throughout the entire history of the World Cup, how many home games were played by the Netherlands?

In [59]:
# Number of home games played by the Netherlands
df.loc[df['Home Team Name'], "Netherlands"]

KeyError: 'Netherlands'

How many games were played by the Netherlands in total?

In [ ]:
# Number of games played by the Netherlands in total

Next, let's try and figure out how many games the USA played in the 2014 World Cup.

In [ ]:
# Number of games the USA played in the 2014 world cup

Now, let's try to find out how many countries participated in the 1986 World Cup.

Hint 1: as a first step, create a new dataset that only contains games in that year.

Hint 2: You can use `.unique()` to make sure you don't end up with duplicate country names.

In [ ]:
# Number of countries participated in the 1986 world cup

In World Cup history, how matches had more than 5 goals in total?

In [ ]:
# Number of matches that had more than 5 goals in total

## Changing values and creating new columns

With the information you currently have in your `df`, create a new column, "Half-time Goals."

In [ ]:
# Create a new column 'Half-time Goals' in df

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [ ]:
# Print all records containing the string 'Korea'
df.loc[df['Home Team Name'].str.contains('Korea'), 'Home Team Name']

Imagine that, for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

In [ ]:
# Update the 'Home Team Name' and 'Home Team Initials' columns

Make sure to verify your answer!

In [ ]:
# Check the updated columns

## Summary

In this lab, you learned how to access data within Pandas!